{% extends 'base.html' %} 
{% block container %} 
    <div class="products-page">
        <h5 style="opacity:0.5">{{product.category.name}}/{{product.name}}</h5>
        <div class="pics">
            {% if product.image_path %}
        <a href="{{url_for('image', name=product.image_path)}}"><img src="{{ url_for('static', filename='uploads/'+ product.image_path) }}" class="product-img"/></a>
        {% endif %}
            {% if product.pic_1 %}
        <a href="{{url_for('image_extra', name=product.pic_1)}}"> <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_1) }}" class="product-img"/></a>
            {% else %}
                <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_1) }}" style=" width:0px; height:0px; display: none;"/>

            {% endif %}

            {% if product.pic_2 %}
            <a href="{{url_for('image_extra', name=product.pic_2)}}"> <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_2) }}" class="product-img"/></a>
            {% else %}
                <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_1) }}" style=" width:0px; height:0px; display: none;"/>

            {% endif %}
            {% if product.pic_3 %}
            <a href="{{url_for('image_extra', name=product.pic_3)}}"> <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_3) }}" class="product-img"/></a>
            {% else %}
                <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_1) }}" style=" width:0px; height:0px; display: none;"/>

            {% endif %}
        {% if product.pic_4 %}
        <a href="{{url_for('image_extra', name=product.pic_4)}}"> <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_4) }}" class="product-img"/></a>
        {% else %}
            <img src="{{ url_for('static', filename='uploads_extra/'+ product.pic_1) }}" style=" width:0px; height:0px; display: none;"/>

        {% endif %}
        </div>
        <h3>{{ product.name }} </h3>
        <h4><small>{{ product.category.name }}</small></h4>
        <h2 style="color:green"> <small style="color:grey;text-decoration: line-through; font-size: 16px;">Ksh {{product.price }}</small>        Ksh {{ product.selling_price() }}</h2>
        <div class="desc-wrapper">
            <div class="desc">
                <h4>Description</h4>
                {% if product.description %}
                    <p>{{ product.description }}</p>
                {% endif %}
                {% set delivery_day = random.randint(4,7) %}
                <h4>Delivery</h4>
                <p>Expected delivery in 3 to {{delivery_day}}  business days</p>
                
            </div>
            <form action="{{ url_for('add_to_cart')}}" method="post">
                <label for="qty" class="qty-label">Quantity</label>
                <input type="hidden" name="product_id" value="{{ product.id}}">
                <input type="number" class="qty-input" onkeyup="saveValue(this)"  min="1"  max="{{product.stock}}" value="1" name="qty" id="{{ product.id }}">
                <button id='add-cart-btn' type="submit">Add to cart</button>
            </form>
        </div>
        
       <div class="other-products">
        <h2>Other Products like this</h2>
            <div class="products-like-this ">
                {% for item in other_products_like_this %}
                    {% if item.id !=product.id %}
                    <div class=" top-pad  offset-1 ">
                        <div class="card text-center">
                            <small style=" padding:2px;color:white;background-color:green; justify-self: flex-end;">-{{ item.discount }}%</small>
                                    <div class="card-body">
                                        <a href="{{ url_for('product',id=product.id)}}">
                                            <h2>
                                                {% if item.image_path %}
                                                    <a href="{{ url_for('product', id=item.id)
                                                }}"><img src="{{url_for('static', filename='uploads/' +item.image_path) }}" class="card-img"/></a>
                                                {% endif %}
                                                    <a href="{{ url_for('product', id=item.id)
                                                    }}">{{ item.name }}</a>
                                                    <small style="color:green">Ksh {{ item.selling_price() }}</small>
                                            </h2>
                                        </a>
                                    </div>
                        </div>
                
                </div>
                   
                    {% endif %}
                 {% endfor %}
            </div>
       </div>
      </div>
{% endblock  %}